/* .cardcontainer{
  text-align: center;
} */

/* .postsc{
  display: inline;
} */

#bsalert{
 position: absolute;
}

.containerdest{
  background-image: url("../img/fp2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pfp{
  font-size: 27px;
}

.tfp{
  background-color: #333;
}

.postdest{
  position: relative;
  text-align: center;
}

.titlelink{
  display: block;
  color: white;
  text-decoration: none;
}

.titlelink:hover{
  color: white;
}

.titlpost{
  position: absolute;
  bottom: 8px;
  left: 16px;
  padding-bottom: 20px;
  padding-left: 5px;
}

.degradado{
  /* background: -prefix-linear-gradient(top, blue, white);
  background: linear-gradient(to bottom, blue, white); */
}

.transblack{
    background: rgba(0, 0, 0, 0.7);
}

.contcontact{
  text-align: center;
  /* background-color: grey; */
  background-image: url("../img/fp3.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.divcont{
  font-size: 32px;
  color: white;
}

.tocontact{
  color: white;
  font-size: 26px;
  background: transparent;
  border: 3px solid white;
}

.tocontact:hover{
  color: black;
  font-size: 26px;
  background: white;
  border: 3px solid white;
}

.autcard{
  margin: 20px 20px 0px;
  color: black;
  text-decoration: none;
}

.autcard:hover{
  color: black;
  text-decoration: none;
}

.titaut{
  margin: auto;
  border: 0;
  clear:both;
  display:block;
  width: 30%;
  background-color:black;
  height: 3px;
}

.titaut2{
  margin: auto;
  border: 0;
  clear:both;
  display:block;
  width: 50%;
  background-color:black;
  height: 3px;
}

.imagenaut{
  width: 150px;
  height: 150px;
}

/* .categorias{
  background-image: url("../img/cat.jpg");
} */
