/* .cardcontainer{
  text-align: center;
} */

/* .postsc{
  display: inline;
} */

#bsalert{
 position: absolute;
}

.containerdest{
  background-image: url("../img/fp2.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.tfp{
  background-color: #FFFFFF;
}

.pfp{
  font-size: 27px;
  font-weight: bold;
  float: left;
  margin-top: 1rem;
}

.postdest{
  position: relative;
  text-align: center;
}

.titlelink{
  display: block;
  color: white;
  height: 100%;
}

.titlelink:hover{
  color: white;
}

.titlpost{
  position: absolute;
  bottom: 8px;
  left: 16px;
  width: 85%;
}

.titulounderline:hover{
  text-decoration: underline;
}

.transblack{
    background: rgba(0, 0, 0, 0.7);
}

.contcontact{
  text-align: center;
  /* background-color: grey; */
  background-image: url("../img/fp3.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.divcont{
  font-size: 32px;
  color: white;
}

.tocontact{
  color: white;
  font-size: 26px;
  background: transparent;
  border: 3px solid white;
}

.tocontact:hover{
  color: black;
  font-size: 26px;
  background: white;
  border: 3px solid white;
}

.autcard{
  margin: 20px 20px 0px;
  color: black;
  text-decoration: none;
}

.autcard:hover{
  color: black;
  text-decoration: none;
}

.titaut{
  margin: auto;
  border: 0;
  clear:both;
  display:block;
  width: 30%;
  background-color:black;
  height: 3px;
}

.titaut2{
  margin: auto;
  border: 0;
  clear:both;
  display:block;
  width: 50%;
  background-color:black;
  height: 3px;
}

.imagenaut{
  width: 150px;
  height: 150px;
}

.negro{
  background-color: rgba(0, 0, 0, 0.7);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

.negro:hover{
  background-color: rgba(0, 0, 0, 0.4);
}

/* .categorias{
  display: inline-block;
} */

.categorias a{
  text-decoration: none;
}

.categorias p{
  position: relative;
  top: 50%;
}

.inscat{
  text-align: center;
}

.catlink{
  color: black;
}

.catname{
  color: black;
  font-size: 25px;
  text-align: center;
}

.negrocat{
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
