#wraptitulo{
  margin-bottom: 40px;
}

.wrapcontador{
  float: right;
}

#separadorsearch{
   border: 0;
   clear:both;
   display:block;
   width: 60%;
   background-color:black;
   height: 3px;
 }

.paginaant{

}

.paginasig{

}
